<div class="navbar has-background-dark">
    <div class="navbar-brand">
        <div class="container">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text" routerLink="">Kanban</h1>
            </div>
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text" routerLink="addTask">Add task</h1>
            </div>
        </div>
        <div class="container-2">
            
                <p class="app-name has-gradient-text right" routerLink="back">Back</p>
            
        </div>
    </div>
</div> 
