.app-name {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.has-gradient-text {
    background: -webkit-linear-gradient(#13f7f4, #2af598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navbar-item{
    display: inline-flex;
}

.container { 
    width: 50%; 
    height: 25px;
    p{
        display: flex;
        justify-content: flex-end;
    }
 }

.container-2 {
    width: 50%; 
    height: 50px;
    p{
        display: flex;
        justify-content: flex-end;
    }
}